<!DOCTYPE html>
<html>
<head>
  <title>A New Landmark</title>
</head>
<body>
  <form action="/landmarks" method="POST">
    Name: <input type="text" name="landmark[name]" id="landmark_name">
    Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
    <input type="submit" id="Create New Landmark">
  </form>
</body>
</html>