<!DOCTYPE html>
<html>
<head>
  <title>A Specific Figure</title>
</head>
<body>
  <h1><%= @figure.name %></h1>
  <p>Landmarks:</p>
    <ul>
      <% @figure.landmarks.each do |landmark| %>
      <li><%= landmark.name %></li>
      <% end %>
    </ul>

  <p>Titles:</p>
    <ul>
      <% @figure.titles.each do |title| %>
      <li><%= title.name %></li>
      <% end %>
    </ul>

</body>
</html>